@model CanadaGames.Models.Athlete

@{
    ViewData["Title"] = "Details";
}

<h2>Athlete Details: @Model.FullName</h2>

<div>
    <hr />
    @{
        if (Model.AthletePhoto?.Content != null)
        {
            @:<div>
                string imageBase64 = Convert.ToBase64String(Model.AthletePhoto.Content);
                string imageSrc = string.Format("data:" + Model.AthletePhoto.MimeType + ";base64,{0}", imageBase64);
                <img src="@imageSrc" alt="Profile Picture of @Model.FullName" title="Profile Picture of @Model.FullName" class="img-fluid rounded" />
            @:</div><hr />
        }
    }
<dl class="row">
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.FirstName)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.FirstName)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.MiddleName)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.MiddleName)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.LastName)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.LastName)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.AthleteCode)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.ACode)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.Age)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.Age)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.Height)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.Height)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.Weight)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.Weight)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.YearsInSport)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.YearsInSport)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.Affiliation)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.Affiliation)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.Goals)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.Goals)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.MediaInfo)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.MediaInfo)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.Contingent)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.Contingent.Name)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.Hometown)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.Hometown.HometownContingent)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.Sport)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.Sport.Name)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.AthleteSports)
    </dt>
    <dd class="col-sm-8">
        @{
            int theCount = Model.AthleteSports.Count;
            if (theCount > 0)
            {
                string first = Model.AthleteSports.FirstOrDefault().Sport.Name;
                if (theCount > 1)
                {
                    string theList = first;
                    var c = Model.AthleteSports.ToList();
                    for (int i = 1; i < theCount; i++)
                    {
                        theList += ", " + c[i].Sport.Name;
                    }
                    <a tabindex="0" class="" role="button" data-toggle="popover"
                       data-trigger="focus" title="Alternate Sports" data-placement="bottom"
                       data-content="@theList">
                        @first... <span class="badge badge-info">
                            @theCount
                        </span>
                    </a>
                }
                else
                {
                    @first
                }
            }
        }
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.Gender)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.Gender.Name)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.Coach)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.Coach.FullName)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.AthleteDocuments)
    </dt>
    <dd class="col-sm-8">
        @{
            int fileCount = Model.AthleteDocuments.Count;
            if (fileCount > 0)
            {
                var firstFile = Model.AthleteDocuments.FirstOrDefault(); ;
                if (fileCount > 1)
                {
                    <a class="" role="button" data-toggle="collapse" href="#collapseDocs@(Model.ID)" aria-expanded="false" aria-controls="collapseDocs@(Model.ID)">
                        <span class="badge badge-info">@fileCount</span> Documents...
                    </a>
                    <div class="collapse" id="collapseDocs@(Model.ID)">
                        @{
                            foreach (var d in Model.AthleteDocuments)
                            {
                                <a asp-action="Download" asp-route-id="@d.ID">@d.FileName</a> <br />
                            }
                        }
                    </div>
                }
                else
                {
                    <a asp-action="Download" asp-route-id="@firstFile.ID">@firstFile.FileName</a>
                }
            }
        }
    </dd>
</dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a href='@ViewData["returnURL"]'>Back to Athlete List</a>
</div>
@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>
}